* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-block {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.full-block::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('boba_tea.svg') no-repeat bottom; 
  background-size: 50% 50%;
  opacity: 0.2;
  z-index: -10;
}

.main-block {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  max-width: 960px;
  padding: 1rem;
}

.god {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background: white;
}
.god span {
  position: relative;
  display: block;
}
.god h1 {
  margin: 0;
  font-size: 2rem;
}
.god span {
  display: block;
  height: 100px;
  overflow: hidden;
  color: black;
}

.god .wrap > span {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 10px;
}

.btns {
  display: flex;
  align-items: end;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}
.btns-contain {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.fastfood {
  padding-right: 2px;
  margin-bottom: 10px;
}

/* 滑動特效 */
.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}
.toggle input {
  display: none;
}
.toggle-slide.round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gainsboro;
  transition: 0.4s;
  border-radius: 25px;
}
.toggle-slide.round:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.toggle-slide.round:after {
  content: ''; 
  background: url('burger.svg');
  background-size: cover;
  position: absolute;
  left: 12px;
  bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px; 
  transition: 0.4s;
}
input:checked + .toggle-slide  {
  background-color: #ffbc0d;
}
input:checked + .toggle-slide:before, 
input:checked + .toggle-slide:after {
  transform: translateX(50px);
}

.btn-start {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 1rem 2rem;
  width: 200px;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  color: black;
}
.btn-img{
  rotate: -30deg;
}
.btn-start.not-allow {
  pointer-events: none;
}

.btn-info {
  width: 100px;
  height: 50px;
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 0.5rem;
}
.btn-info a {
  text-decoration: none;
  color: black;
}

.map {
  width: 100%; 
}
.map iframe {
  width: 100%;
  height: 300px;
  transition: all 0.5s ease;
}
.map .hidden {
  visibility: hidden;
  opacity: 0;
}
